.dashboard-section {
    background-color: #072b31;
    color: white;
    height: auto;
    display: flex;
    align-items: start;
    aside {
        width: 20%;
        img {
            padding: 5px;
        }
        ul {
            margin-block: 35px;
            width: 100%;
            list-style: none;
            padding-left: 10px;
            // margin: 20px 0;
            li {
                text-transform: uppercase;
                font-size: 20px;
                line-height: 2;
                color: white;
            }
        }
    }
}