.experience-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    // color: white;
    // background-color: #072b31;

    .experience-text {
        padding: 100px 0 50px 0;
        width: 50%;
        margin: auto;
        text-align: center;

        h5 {
            font-size: 14px;
            color: #f2b612;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

        h1 {
            font-size: 55px;
            font-family: 'Shippori Mincho', serif;
            text-transform: uppercase;
            margin: 30px 0;
        }
    }

    .experience-cards {
        width: 95%;
        margin: auto;
        padding: 0;

        .experience-card-img {
            width: 95%;
            margin: auto;

            img {
                width: 100%;
                border-radius: 190px;
            }

            .center-img {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .experience-card-info {
            width: 85%;
            margin: auto;
            text-align: center;

            h1 {
                color: #f2b612;
                font-family: 'Dynalight', sans-serif;
                font-size: 64px;
                transform: rotate(-12deg);
                margin-top: -35px;
            }

            h3 {
                margin: 20px 0;
                text-transform: uppercase;
                font-size: 24px;
            }

            p {
                color: #bebebe;
            }
        }
    }
}

@media(max-width:1130px) {
    .experience-section {
        .experience-text {
            h1 {
                font-size: 45px;
            }
        }

        .experience-cards {
            width: 85%;

            .experience-card-img {
                width: 100%;
            }

            .experience-card-info {
                width: 100%;

                h1 {
                    font-size: 55px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}

@media(max-width:992px) {
    .experience-section {

        .experience-cards {
            .experience-card-info {
                h1 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media(max-width:856px) {
    .experience-section {
        .experience-cards {
            width: 93%;

            .experience-card-img {
                width: 100%;
            }
            .experience-card-info {
                h1 {
                    font-size: 43px;
                    margin-top: -25px;
                }

            }
        }
    }
}

@media(max-width:767px) {
    .experience-section {
        .experience-text {
            width: 100%;
            h1 {
                font-size: 35px;
            }
        }

        .experience-cards {
            width: 100%;
            margin: 20px 0;

            .experience-card-img {
                width: 45%;
            }

            .experience-card-info {
                h1 {
                    font-size: 60px;
                }

            }
        }
    }
}

@media(max-width:624px) {
    .experience-section {

        .experience-cards {
            width: 100%;

            .experience-card-img {
                width: 55%;
            }

            .experience-card-info {
                h1 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}

@media(max-width:500px) {
    .experience-section {
        .experience-text {
            padding: 70px 0 25px;
            h1 {
                font-size: 30px;
            }
        }

        .experience-cards {
            width: 100%;

            .experience-card-img {
                width: 70%;
            }

            .experience-card-info {
                h1 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }
    }
}