main {
    .faq-section-headings {
        text-align: center;
        width: 60%;
        margin: auto;
        padding-block: 50px;

        h6 {
            font-size: 14px;
            color: #f2b612;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

        h1 {
            font-size: 55px;
            font-family: 'Shippori Mincho', serif;
            text-transform: uppercase;
            margin: 30px 0;
        }
    }

    .faq-questions-part {
        width: 100%;
        display: flex;
        // align-items: start;
        gap: 20px;

        .left-questions-part {
            width: 50%;

            .faq-accordion {
                .faq-accordion-item {
                    background: none;
                    color: white;
                    border: none;

                    .faq-accordion-header {
                        padding-block: 15px;
                        border-top: 0.5px solid rgb(93, 92, 92);
                        button {
                            font-size: 18px;
                            font-weight: 500;
                            text-transform: uppercase;
                            background: none;
                            color: white;

                            &:focus {
                                outline: none !important;
                                box-shadow: none !important;
                            }
                        }
                        // &:active  {
                        //     border-top: 0.5px solid #f2b612;
                        // }
                        // &:focus  {
                        //     border-top: 0.5px solid #f2b612;
                        // }
                    }
                }

            }
        }

        .right-image-part {
            width: 45%;
            margin: auto;

            img {
                width: 100%;
                object-fit: cover;
                border-bottom-left-radius: 300px;
                border-bottom-right-radius: 300px;
            }
        }
    }
}

@media(max-width:1145px) {
    main {
        .faq-section-headings{
            h1 {
                font-size: 45px;
            }
        }
    }
}

@media(max-width:992px) {
    main {
        .faq-section-headings{
            h1 {
                font-size: 35px;
            }
        }
        .faq-questions-part{
            .left-questions-part {
                width: 55%;
            }
            .right-image-part {
                width: 45%;
            }
        }
    }
}

@media(max-width:880px) {
    main {
        .faq-section-headings{
            h1 {
                font-size: 30px;
            }
        }
        .faq-questions-part{
            .left-questions-part {
                width: 100%;
            }
            .right-image-part {
                // width: 45%;
                display: none;
            }
        }
    }
}