main {
    .success-alert {
        h1 {
            font-family: "Shippori Mincho", sans-serif;
            text-transform: uppercase;
            text-align: center;
            margin-block: 50px;
        }
    }
    .recommended-products-part {
        h1 {
            font-family: "Shippori Mincho", sans-serif;
            text-transform: uppercase;
            text-align: center;
            margin: 50px 0 30px;
        }
    }
}