@import './buttonmixin.scss';

.welcome-to-rostay {
    width: 100%;
    background-color: #072b31;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 60px 20px;

    .welcome-left-image {
        width: 30%;

        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
            border-top-left-radius: 300px;
            border-top-right-radius: 300px;
        }
    }

    .welcome-center-text {
        width: 50%;
        padding: 0 90px;
        text-align: center;

        h6 {
            font-size: 14px;
            color: #f2b612;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

        h1 {
            font-size: 50px;
            font-family: 'Shippori Mincho', serif;
            text-transform: uppercase;
            margin: 30px 0;
        }

        button {
            @include button();
        }
    }

    .welcome-right-image {
        width: 30%;

        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
            border-bottom-left-radius: 300px;
            border-bottom-right-radius: 300px;
            border: 1px solid #f2b612;
        }
    }
}



@media (max-width:1145px) {
    .welcome-to-rostay {
        .welcome-left-image {
            width: 28%;
        }

        .welcome-center-text {
            width: 40%;
            padding: 0 15px;
            h1 {
                font-size: 45px;
            }
        }

        .welcome-right-image {
            width: 28%;
        }
    }
}

@media (max-width:1024px) {
    .welcome-to-rostay {
        align-items: center;
        .welcome-left-image {
            display: none;
        }

        .welcome-center-text {
            width: 60%;
            padding: 0 15px;
            h1 {
                font-size: 45px;
            }
        }
        .welcome-right-image {
            width: 40%;
        }
    }
}

@media (max-width:880px) {
    .welcome-to-rostay {
        align-items: center;
        .welcome-left-image {
            display: none;
        }

        .welcome-center-text {
            width: 57%;
            padding: 0 15px;
            h1 {
                font-size: 35px;
            }
        }
        .welcome-right-image {
            width: 40%;
            img {
                height: 420px;
            }
        }
    }
}
@media (max-width:768px) {
    .welcome-to-rostay {
        align-items: center;
        flex-direction: column;
        .welcome-left-image {
            display: none;
        }

        .welcome-center-text {
            width: 100%;
            padding: 0 15px;
            h1 {
                font-size: 30px;
            }
        }
        .welcome-right-image {
            width: 60%;
            img {
                height: 500px;
            }
        }
    }
}
@media (max-width:624px) {
    .welcome-to-rostay {
        .welcome-right-image {
            img {
                height: 450px;
            }
        }
    }
}