@import './buttonmixin.scss';


.choose-us-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #072b31;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 70px 0;

    .choose-us-image {
        width: 50%;

        img {
            width: 95%;
            border-bottom-left-radius: 400px;
            border-bottom-right-radius: 400px;
            border: 1px solid #f2b612;
        }
    }

    .choose-us-info {
        width: 45%;

        h5 {
            font-size: 14px;
            color: #f2b612;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2.5px;
        }

        h1 {
            font-size: 55px;
            font-family: 'Shippori Mincho', serif;
            text-transform: uppercase;
            margin: 30px 0;
        }

        .p-1 {
            font-size: 18px;
        }

        .p-2 {
            color: #bebebe;
        }

        ul {
            list-style: none;
            padding-left: 0;
            line-height: 2;
        }

        button {
            @include button();
        }
    }
}

@media (max-width:1145px) {
    .choose-us-section {
        width: 100%;

        .choose-us-image {
            width: 50%;
        }

        .choose-us-info {
            width: 50%;

            h5 {
                font-size: 13px;
            }

            h1 {
                font-size: 45px;
            }

            .p-1 {
                font-size: 17px;
                font-weight: 500;
            }


        }
    }
}

@media (max-width:1024px) {
    .choose-us-section {
        width: 100%;

        .choose-us-image {
            width: 49%;
        }

        .choose-us-info {
            width: 50%;

            h5 {
                font-size: 13px;
            }

            h1 {
                font-size: 35px;
            }

            .p-1 {
                font-size: 17px;
                font-weight: 500;
            }

            .p-2 {
                font-size: 15.5px;
            }

            ul {
                font-size: 15.5px;
                line-height: 1.8;
            }

            button {
                padding: 13px 25px;
                margin: 15px 0;
                font-size: 13px;
            }
        }
    }
}


@media (max-width:880px) {
    .choose-us-section {
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        .choose-us-info {
            width: 98%;
            margin: 30px 0;
            text-align: center;

            h1 {
                font-size: 30px;
            }
        }
    }
}

@media (max-width:768px) {
    .choose-us-section {
        .choose-us-image {
            width: 90%;
            display: flex;
            justify-content: center;

            img {
                border-radius: 0px;
            }
        }
    }
}

@media (max-width:624px) {
    .choose-us-section {
        .choose-us-image {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                border-radius: 0px;
            }
        }
    }
}